[submodule "use/dglOpenGL"]
	path = use/dglOpenGL
	url = https://github.com/SaschaWillems/dglOpenGL.git
[submodule "use/MPArith"]
	path = use/MPArith
	url = git@github.com:JulStrat/MPArith.git
[submodule "use/NativeDragDrop"]
	path = use/NativeDragDrop
	url = git@github.com:prof7bit/NativeDragDrop.git
